@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #f8fafc;
  color: #1a1a1a;
}

html.dark {
  background-color: #121212;
  color: #e4e4e4;
}

body {
  font-family: "Inter", sans-serif;
}
